.main{
    background-image: url(material/fighting_game_animation_8.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}

.Pl-one{
    background-image: url(material/ryu-ts-stance.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}